<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title>Sisboi - New Animal</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<!--Import materialize.css-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

</head>

<body>

	<header>

		<nav class="teal darken-4">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Sisboi</a> <a href="/"
					data-activates="mobile-demo" class="button-collapse"><i
					class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/newAnimal">New Animal</a></li>
					<li><a href="/newMedicine">New Medicine</a></li>
					<li><a href="/showAnimals">Show Animals</a></li>
					<li><a href="/showMedicines">Show Medicines</a></li>
					<li><a href="/doMedication">Do Medication</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/newAnimal">New Animal</a></li>
					<li><a href="/newMedicine">New Medicine</a></li>
					<li><a href="/showAnimals">Show Animals</a></li>
					<li><a href="/showMedicines">Show Medicines</a></li>
					<li><a href="/doMedication">Do Medication</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>

	</header>

	<div class="row">
		<div class="container">
			<div class="card-panel">
				<form method="post" th:action="@{/save}" th:object="${animal}">
					<input type="hidden" th:field="*{id}" />
					<div class="row">
						<div class="input-field col s3">
							Name: <input type="text" th:field="*{name}" />
						</div>
						<div class="input-field col s3">
							Birthday: <input type="date" th:field="*{birthday}" />
						</div>
						<div class="input-field col s3">
							Weight: <input type="text" th:field="${peso}" />
						</div>
						<div class="input-field col s3">
							Type: <select th:field="*{type.id}">
								<option th:each="type : ${types}" th:value="${type.id}"
									th:text="${type.type}"/>
							</select>
						</div>
						<div class="input-field col s3">
							Breed: <select th:field="*{breed.id}">
								<option th:each="breed : ${breeds}" th:value="${breed.id}"
									th:text="${breed.breed}"></option>
							</select>
						</div>
						<div class="input-field col s3">
							Purpose: 
								<select multiple="multiple" name="purposes" th:field="*{purposes}">
									<option th:each="purpose : ${purposeList}"
										th:value="${purpose.id}" th:text="${purpose.purpose}" />
								</select>
						</div>
						<div class="input-field col s6">
							<div class="file-field input-field">
								<div class="btn teal darken-3">
									<span>Photo</span> <input type="file" />
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text" />
								</div>
							</div>
						</div>
					</div>
					<div class="right-align">
						<button class="btn waves-effect waves-light teal darken-3"
							type="submit" name="action">
							Save <i class="material-icons right">save</i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".button-collapse").sideNav();
			$('select').material_select();
		})
	</script>

</body>


</html>