<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Sisboi - Show Animals</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<!--Import materialize.css-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
</head>
<body>

	<header>

		<nav class="teal darken-4">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Sisboi</a> <a href="/"
				data-activates="mobile-demo" class="button-collapse"><i
				class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/newAnimal">New Animal</a></li>
					<li><a href="/newMedicine">New Medicine</a></li>
					<li><a href="/showAnimals">Show Animals</a></li>
					<li><a href="/showMedicines">Show Medicines</a></li>
					<li><a href="/doMedication">Do Medication</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/newAnimal">New Animal</a></li>
					<li><a href="/newMedicine">New Medicine</a></li>
					<li><a href="/showAnimals">Show Animals</a></li>
					<li><a href="/showMedicines">Show Medicines</a></li>
					<li><a href="/doMedication">Do Medication</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>

	</header>

	<table class="container">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Expiration</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="medicine : ${medicines}">
				<td><span th:text="${medicine.name}"></span></td>
				<td><span th:text="${medicine.description}"></span></td>
				<td><span th:text="${medicine.expiration}"></span></td>
				<td><span th:text="${medicine.type}"></span></td>
				<td><i class="material-icons left">delete</i></td>
			</tr>
		</tbody>

	</table>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".button-collapse").sideNav();
		})
	</script>

</body>


</html>